@charset "utf-8";
@import '_common.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_component.scss';
@import '_element.scss';

/*
.main_beauty,
.main_wait,
.main_map {
    display: none;
}
*/

.main_kv {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/main/img_main_kv.jpg) no-repeat center center / cover;
    .main_kv_text {
        text-align: center;
        display: inline-block;
        color: #fff;
        h2 {
            font-family: $mj;
            font-weight: 700;
            font-size: 45px;
            line-height: 65px;
            white-space: nowrap;
            text-align: left;
            .line {
                display: block;
            }
            strong {
                display: block;
                padding: 40px 0;
                font-size: 80px;
                text-align: right;
            }
        }
        .desc {
            text-align: right;
            font-size: 20px;
            line-height: 30px;
        }
    }

    .mouse {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translateX(-50%);
        font-size: 20px;
        color: #fff;
        text-align: center;
        i {
            display: block;
            margin-bottom: 15px;
            font-family: $rbt;
            font-size: 20px;
            letter-spacing: normal;
            line-height: 22px;
        }
        em {
            position: relative;
            display: inline-block;
            width: 30px;
            height: 54px;
            font-size: 0;
            border: 3px solid #fff;
            border-radius: 50px;
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 10px;
                height: 10px;
                border-left: 4px solid #fff;
                border-radius: 50px;
                animation: mousedown 1.5s infinite;
            }
        }
    }
}

@keyframes mousedown {
    0% {
        top: 10px;
        opacity: 1;

    }
    100% {
        top: 25px;
        opacity: 0;
    }
}


/* main_yw */
.main_yw {
    padding: 120px 0 245px 0;
    background: #4d4d4d;
}

.yw-there.intro_text {
    width: 50%;
    margin-left: auto;
    padding-left: 120px;
    color: #fff;
    opacity: 0;
    .desc {
        padding: 14px 0 32px 0;
        letter-spacing: 20px;
    }
    &.on {
        opacity: 1;
    }
}

.char-wave{
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
        /* transform: perspective(500px) translate3d(0, -50px, -150px) rotate3d(1, -1, 0, 35deg); */
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

.yw_visual {
    margin-top: 250px;
    font-size: 0;
    color: #fff;
    .visual {
        display: inline-block;
        vertical-align: top;
        width: calc(50% + 120px);
        text-align: right;
        figure {
            overflow: hidden;
            img {
                float: right;
            }
        }
        .desc {
            padding-top: 17px;
            font-size: 20px;
            line-height: 35px;
        }
    }
    .cont {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 120px);
        padding-top: 170px;
        padding-left: 20px;
        font-family: $mj;
        .tit {
            font-size: 26px;
            line-height: 36px;
            .line {
                position: relative;
                top: -2px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 7px;
                width: 18px;
                border-bottom: 2px solid #fff;

            }
        }
        .sub {
            position: relative;
            display: block;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                border-bottom: 1px solid #fff;
            }
            em {
                position: relative;
                z-index: 1;
                display: inline-block;
                padding-right: 20px;
                font-size: 16px;
                line-height: 55px;
                letter-spacing: 35px;
                background: #4d4d4d;
            }
        }
    }
}

.yw_visual2 {
    margin-top: 160px;
    text-align: center;
    .incont {
        display: inline-flex;
        align-items: stretch;
        .text {
            align-self: flex-end;
            font-size: 20px;
            line-height: 35px;
            color: #fff;
            text-align: right;
        }
        .cont {
            width: 772px;
            height: 908px;
            margin-left: 47px;
            padding-top: 105px;
            font-family: $mj;
            text-align: center;
            background: url(../images/main/img_yw02.jpg) no-repeat;
            .cont_text {
                display: inline-block;
            }
            .text1 {
                display: block;
                font-size: 20px;
                line-height: 20px;
                letter-spacing: 33px;
            }
            .text2 {
                display: inline-block;
                margin-top: 34px;
                font-size: 50px;
                line-height: 65px;
                text-align: left;
                overflow: hidden;
                .line {
                    position: relative;
                    display: block;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        margin-left: 10px;
                        width: 100%;
                        border-bottom: 1px solid #000;
                    }
                }                

            }
        }
    }
}

.thr_mark {
    text-align: center;
    .inner {
        display: inline-block;
        white-space: nowrap;
        h3 {
            position: relative;
            padding: 25px 0 30px 0;
            font-family: $mj;
            font-weight: 700;
            font-size: 40px;
            line-height: 1;
            color: #fff;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 25px;
                border-bottom: 3px solid #fff;
            }
        }
    }
}
/* main_yw */


.main_beauty {
    height: 1200px;
    background: url(../images/main/img_main_beauty.jpg) no-repeat center center / cover;
    text-align: center;
    .inner {
        display: inline-block;
        width: 800px;
        padding-top: 600px;
        color: #fff;
        h3 {
            font-family: $mj;
            font-weight: 400;
            font-size: 50px;
        }
        .desc {
            padding: 14px 0 45px 0;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 25px;
        }
        .text {
            font-size: 20px;
            line-height: 35px;
            text-align: left;
        }
    }
}

.main_wait {
    padding: 200px 0 210px 0;
    background: #d3be89;
}

.main_map {
    height: 1200px;
    background: url(../images/main/img_main_map.jpg) no-repeat center center / cover;
}

.main_nature {
    padding: 200px 0 300px 0;
    background: #2a4d46;
    text-align: center;
    .intro {
        display: inline-block;
        width: 820px;
        text-align: right;
        color: #fff;
        .desc {
            text-align: right;
        }
        .text {
            text-align: left;
        }
    }
}



.main_culture {
    position: relative;
    min-height: 100vh;
    padding-top: 130vh;
    padding-bottom: 100px;
    box-sizing: content-box;
    .intro {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .inner {
            display: inline-block;
            width: 800px;
            text-align: center;
            .text {
                text-align: left;
            }
        }
        &.on {
            position: fixed;
        }
    }
}

.main_culture_item {
    position: relative;
    z-index: 1;
    height: 100vh;
    box-sizing: content-box;
    text-align: center;
}
.mci {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 900px;
    box-sizing: content-box;
    .items {
        position: absolute;
        top: 300px;
        left: 300px;
        z-index: 2;
        width: 300px;
        height: 300px;
        padding: 40px 0;
        text-align: center;
        font-family: $mj;
        .img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        h4 {
            position: relative;
            padding-bottom: 5px;
            font-weight: 700;
            font-size: 40px;
            line-height: 55px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 22px;
                border-bottom: 5px solid #000;
            }
        }
        .text {
            position: absolute;
            left: 0;
            bottom: 40px;
            width: 100%;
            font-size: 16px;
            line-height: 22px;
        }
        &.ty1 {
            z-index: 4;
            background: #d3be89;
        }
        &.ty2 {
            z-index: 5;
            background: #c7c3ba;
        }
        &.ty3 {
            z-index: 6;
            background: #d3be89;  
        }
        &.ty4 {
            background: #c7c3ba;
        }
        &.ty5 {
            z-index: 10;
            color: #fff;
            background: #2a4d46;
            h4 {
                &::after {
                    border-bottom: 5px solid #fff;
                }
            }
        }
    }
    .imgs {
        img {
            position: absolute;
            top: 300px;
            left: 300px;
        }
    }
}



.intro_text {
    h3 {
        font-family: $mj;
        font-weight: 400;
        font-size: 50px;
    }
    .desc {
        padding: 14px 0 45px 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 25px;
    }
    .text {
        font-size: 20px;
        line-height: 35px;
        text-align: left;
    }
}